<section class="container">
  <div class="columns features">
    <div class="column is-4" *ngFor="let item of content">
      <a href="/">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" class="modal-button"
                data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>{{item.Title}}</h4>
              <p>{{item.Content}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
