<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Helping Black, Asian, And Ethnic Minority Communities in Greater Manchester, and Beyond</h1>
    </div>
  </div>
</section>

<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">About us</p>
            </div>
          </div>
          <div class="content article-body">

            <P>UCOMM is all about you. UCOMM is your good companion in situations of loneliness. It is a ‘backup’ or
              ‘place to run to’ in case you have a problem or need help. UCOMM is a nonprofit charity organisation,
              originally created by Ugandans in Greater Manchester for the benefit of all people of black, asian, and
              minority ethnic origin living in Greater Manchester and surrounding areas. We have recently extended our
              services to other areas beyond Greater Manchester, and the UK, with the aim of creating the possibility of
              collaborating with other charities, organisations, and individuals around the world.</P>

            <P>We are confident there is something for everyone regardless of age, so please feel free to browse our
              website to see what we have to currently offer. If you have any suggestions of what you would like to see
              offered within your community, then please do join in our online discussion groups, or send us an email to
              office@ucomm.org.uk</P>

            <h3 class="has-text-centered">How we run </h3>
            <P> Our organisation is run entirely by volunteers, by making a donation today, you will be taking a big
              step
              towards supporting UCOMM and your Community. Please click the link below if you wish to become a UCOMM
              Volunteer:​</P>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article chair-section">
        <div class="card-content">
          <div class="media columns is-centered">
            <div class="columns is-half chair-image">
              <img src="../../assets/Images/screen-shot-2016-09-15-at-12-38-04.png" class="author-image"
                alt="Placeholder image">
            </div>
          </div>
          <div class="has-text-centered role-section">
            <h4>Rehema Nnabukeera Kawooya (Chair)</h4>
          </div>
          <div class="content article-body">
            <p>
              My 3 areas of passion are underpinned by my natural desire to help people achieve their best goals. As a
              clinical pharmacist, I love being able to educate patients and colleagues about medications and how to get
              the best out of them. the learning is mutual. I love investing in property, so 2017 I started to help
              individual investors park their funds into high yielding properties. And I love anything to do with
              Uganda, and I have been very privileged to chair the Uganda community in Greater Manchester, a community
              organisation that champions the needs of those in need.
            </p>

            <article class="container overview">
              <h3 class="has-text-centered">Overview</h3>
              <section class="columns">
                <div class="column is-one-third">
                  <h4 class="subtitle-bordered">What the charity does</h4>
                  <ul>
                    <li>General charitable purposes</li>
                    <li>Education/training</li>
                    <li>The advancement of health or saving of lives</li>
                  </ul>
                </div>
                <div class="column is-one-third">
                  <h4 class="subtitle-bordered">Who the charity helps</h4>
                  <ul>
                    <li>Children/young people</li>
                    <li>People of a particular ethnic or racial origin</li>
                  </ul>
                </div>
                <div class="column is-one-third">
                  <h4 class="subtitle-bordered"> How the charity works</h4>
                  <ul>
                    <li>Provides human resources</li>
                    <li>Provides buildings/facilities/open space</li>
                    <li>Provides services</li>
                    <li>Provides advocacy/advice/information</li>
                    <li>Other charitable activities</li>
                  </ul>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
