<nav class="navbar" role="navigation" aria-label="main navigation">
  <div>
  </div>
  <div class="navbar-brand">
    <a class="navbar-item" href="/homepage">
      <img src="../../../../assets/Images/UCOMM-logo.png" alt="fdf" width="80">
    </a>
    <a (click)="toogleClass()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="main-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="main-nav" [ngClass]="active ? 'is-active' : ''" class="navbar-menu">
    <div class="navbar-start">
      <a [routerLink]="['']" routerLinkActive="router-link-active" class="navbar-item">
        Home
      </a>
      <!-- <a class="navbar-item">
        Projects
      </a> -->
      <a [routerLink]="['/about-us']" routerLinkActive="router-link-active" class="navbar-item">
        About us
      </a>
      <a [routerLink]="['/meet-the-team']" routerLinkActive="router-link-active" class="navbar-item">
        Meet the team
      </a>
      <!-- <a class="navbar-item">
        Volenteer
      </a>  -->
      <a class="navbar-item">
        Events
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          News/Blog
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            UNCOMM TV
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          UCOMM
        </a>
        <div class="navbar-dropdown">
          <a [routerLink]="['/about-us']" routerLinkActive="router-link-active" class="navbar-item">
            About us
          </a>
          <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" class="navbar-item">
            Contact us
          </a>
          <a  [routerLink]="['/useful-links']" routerLinkActive="router-link-active" class="navbar-item">
            Useful links
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded">
            <strong>Register</strong>
          </a>
        </div>

      </div>
      <div class="social-icons">
        <div class="navbar-item">
          <span class="icon">
            <a href="https://www.facebook.com/ucommsocial/"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
            <a href="https://twitter.com/ucommsocial"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
            <a href=""><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
            <a href="mailto:office@ucomm.org.uk"> <i class="fa fa-envelope fa-1x" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
