<nav class="navbar" role="navigation" aria-label="main navigation">
  <div>
  </div>
  <div class="navbar-brand" (click)="toogleClass()">
    <a class="navbar-item" href="/homepage">
      <!-- <img src="../../../../assets/Images/ucomm-logo-02.png" width="112" height="58"> -->
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="main-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="main-nav" [ngClass]="active ? 'is-active' : ''"  class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      <a class="navbar-item">
        Projects
      </a>
      <a class="navbar-item">
        Member Area
      </a>
      <a class="navbar-item">
        Volenteer
      </a>
      <a class="navbar-item">
        Events
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          News/Blong
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            UNCOMM TV
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Contact
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Useful links
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded">
            <strong>Register</strong>
          </a>
        </div>
      </div>
      <div class="social-icons">
        <div class="navbar-item">
          <span class="icon">
           <a href="https://www.facebook.com/ucommsocial/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
            <a href="https://twitter.com/ucommsocial"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
            <a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </span>
          <span class="icon">
           <a href="mailto:office@ucomm.org.uk"> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
