<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"> Meet The Current UCOMM Board of Trustees </h1>
    </div>
  </div>
</section>
<article class="section container">
  <div class="py-5 text-center text-info background-info">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3" contenteditable="true">Dedication Has Been The Key to Our Success. </h1>
        </div>
      </div>
      <app-person-info-card [size]="4" [cardContent]="MainBoardMembers"></app-person-info-card>
      <app-person-info-card [size]="3" [cardContent]="SecondaryBoardMembers"></app-person-info-card>
    </div>
  </div>
</article>
