html,
body {
  height: 100%;
  overflow: hidden;
}

.strip {
  width: 100%;
  padding-top: 141px;
}

hr {
  margin: 0px;
  height: 2px;
  border-width: 0;
}

hr:nth-child(1) {
  background: black;
}

hr:nth-child(2) {
  background: yellow;
}

hr:nth-child(3) {
  background: red;
}