<footer class=" footer  container  col-12 col-md-12">
  <div class="row" >
    <div class="content has-text-centered  col-6 col-md-6">
      <p>
        Address: Surcon House, Withington, Manchester, M20 3HE. Charity No:1123706

      </p>
    </div>
    <div class="col-6 col-md-3">
      some text about our work

    </div>
    <div class=" content has-text-centered col-12 col-md-3">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="office@ucomm.org.uk" />
        <input type="hidden" name="item_name" value="Charity" />
        <input type="hidden" name="currency_code" value="GBP" />
        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0"
          name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
      </form>

    </div>


  </div>
  <div class="row has-text-centered col-12">
    <div class=" col-12">
      UCOMM Copyright 2020 - www.ucomm.org.uk
    </div>

  </div>
</footer>