<footer class=" footer  container  col-12 col-md-12">
  <div class="row">
    <div class="  col col-md-6">
      <div class="col-12">
        <p>
          <strong>
            Address:
          </strong>
          Surcon House,
          <br>Withington,
          <br>Manchester, M20 3HE.
        </p>
      </div>
      <div class="social-icons  ">

        <span class="icon">
          <a href="https://www.facebook.com/ucommsocial/"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
        </span>
        <span class="icon">
          <a href="https://twitter.com/ucommsocial"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
        </span>
        <span class="icon">
          <a href=""><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
        </span>
        <span class="icon">
          <a href="mailto:office@ucomm.org.uk"> <i class="fa fa-envelope fa-1x" aria-hidden="true"></i></a>
        </span>
      </div>
      <div class="d-none d-md-block d-xl-block">
        <p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.9464367643573!2d
            -2.2317901839761247!3d53.43366597586799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
            1s0x487bb240961bf9c9%3A0xb624a2c9cf65c76b!2sCopson%20St%2C%20Withington%2C%20Manchester%2
            0M20%203HE!5e0!3m2!1sen!2suk!4v1590864132873!5m2!1sen!2suk" width="100%" height="300" frameborder="0"
            style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
      </div>
    </div>

    <div class="col col-md-3 ">
      <p style="margin-top: 20px">
        <strong>Here are our sponsors!</strong>
      </p>
      <div class="col-md-12 col-lg-12 col-12 sponsors ">
        <img src="../../../assets/Images/sponsorsLogo.png" class="rounded img-responsive float-left" alt="...">
      </div>
      <div class="col-md-12 col-lg-12 col-12">
        <img src="../../../assets/Images/ManchesterForever.png" class="rounded img-responsive float-right" alt="...">
      </div>
    </div>

    <div class=" content has-text-centered col-12 col-md-3">
      <div class="col-12 donate">
        <p>
          <strong> Donate Today</strong>
        </p>
        <p>
          Thank you.
        </p>
      </div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="office@ucomm.org.uk" />
        <input type="hidden" name="item_name" value="Charity" />
        <input type="hidden" name="currency_code" value="GBP" />
        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0"
          name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>


  </div>
  <div class="row has-text-centered col-12">
    <div class=" col-12">
      UCOMM Copyright 2020 - www.ucomm.org.uk
    </div>

  </div>
</footer>