<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Welcome to Ucomm
      </p>
      <p class="subtitle">
        Happy to see you here
      </p>
    </div>
  </div>
</section>
<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-primary">New</span> Here we have modal cards. When you click on them they will open functional
    modal examples.
  </p>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <a href="/">
          <article class="notification media has-background-white">
            <figure class="media-left">
              <span class="icon">
                <img src="../../assets/Images/icons/charity.png">
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Donate</h1>
                <p class="is-size-5 subtitle">
                  Your donation will make a difference
                </p>
              </div>
            </div>
          </article>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/">
          <article class="notification media has-background-white">
            <figure class="media-left">
              <span class="icon">
                <img src="../../assets/Images/icons/volunteer.png">
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Volunter</h1>
                <p class="is-size-5 subtitle">
                  Joint the team and make a difference
                </p>
              </div>
            </div>
          </article>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/">
          <article class="notification media has-background-white">
            <figure class="media-left">
              <span class="icon">
                <img src="../../assets/Images/icons/register.png">
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Sign up</h1>
                <p class="is-size-5 subtitle">
                  Sign up and enjoy all the benefits Ucomm offers
                </p>
              </div>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>

</section>
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="Placeholder image" class="modal-button"
              data-target="modal-image2">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Click on image above</h4>
            <p>UCOMM is all about you. UCOMM is your good companion in situations of loneliness. It is a ‘backup’ or
              ‘place to
              run to’ in case you have a problem or
              need help. UCOMM is a nonprofit charity organisation, originally created by Ugandans in Greater Manchester
              for the
              benefit of all people of black, asian,
              and minority ethnic origin living in Greater Manchester and surrounding areas. We have recently extended
              our
              services to other areas beyond Greater Manchester,
              and the UK, with the aim of creating the possibility of collaborating with other charities, organisations,
              and
              individuals around the world</p>
            <span class="button is-link modal-button" data-target="modal-image2">Image modal</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tempor orci dapibus ultrices in.</h4>
            <p>We are confident there is something for everyone regardless of age, so please feel free to browse our
              website to
              see what we have to currently offer.
              If you have any suggestions of what you would like to see offered within your community,
              then please do join in our online discussion groups, or send us an email to office@ucomm.org.uk.</p>
            <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4 modal-button" data-target="modal-image">
      <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://ultraimg.com/images/yHrYA.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Click anywhere on card</h4>
            <p>Our organisation is run entirely by volunteers, by making a donation today, you will be taking a big step
              towards
              supporting UCOMM and your Community. Please click the link below if you wish to become a UCOMM Volunteer:​
            </p>
            <span class="button is-link modal-button" data-target="modal-image">Image modal</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
