h1 {
  color: green;
  font-size: x-large;
}

.is-one-third a {
  text-decoration: none;
  color: black;
}

.is-one-third {
  overflow: hidden;
}

.is-one-third a :hover {
  color: darkgreen;
}

.icon {
  height: 3.9rem;
  width: 3.9rem;
}

.notification {
  padding-left: 0;
  padding-right: 0;
}

.main-barner {
  margin-top: 10px;
}

article {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.is-info {
  margin-bottom: 20px;
}

.is-light {
  margin-top: 40px;
}

.is-light a {
  text-decoration: none;
}

.projects h3 {
  color: black;
  text-align: center;
  font-size: larger;
}

.projects i {
  text-decoration: none;
  color: black;
}

.projects {
  border-left: solid;
  border-color: darkred;
}
.projects img{
  text-align: center;
}

.is-horizontal-center {
  justify-content: center;
}

.projects {
  font-size: large;
}